<!-- <div class="container">
<div class="row">
    <div class="col">
    <nav class="fullnav navbar navbar-expand-lg  fixed-top">

        <a class="navbar-brand" href="#"><img src="\assets\tcg.png"></a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <span class="example-spacer"></span>
            <ul class="side navbar-nav  me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" id="home" aria-current="page" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#service">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Portfolio">Resume</a>
                </li>

            </ul>
        </div>

    </nav>
</div></div></div> -->